header {
	background-color: aqua;
	padding: 20px;
}
section {
	padding: 8px;
	border: dashed 1px;
	margin-top: 0px;
}
h2 {
	margin-bottom: 0px;
}
.purple-square {
	display: inline-block;
	background-color: purple;
	height: 60px;
	width: 120px;
	border: solid 2px red;
}
.blue-square {
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: royalblue;
	border: solid 1px black;
	box-shadow: 2px 2px 4px black;
}
.pink-square {
	display: inline-block;
	height: 120px;
	width: 120px;
	border: solid black 1px;
	background-color: palevioletred;
}
.circle-top {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border: solid 1px black;
	margin-left: 40px;
}
.circle-middle {
	height: 160px;
	width: 160px;
	border-radius: 50%;
	border: solid 1px black;
	margin-left: 20px;
}
.circle-bottom {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: solid 1px black;
}
.eyes {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: black;
	display: inline-block;
	margin-top: 15px;
	margin-left: 25px;
}
.nose {
	height: 20px;
	margin-left: 45px;
}
.button {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: black;
	margin: 0 auto;
	margin-top: 20px;
}
.big-square {
	height: 150px;
	width: 150px;
	border: solid black 1px;
}
.big-circle {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: green;
	border: solid black 1px;
}
.little-square {
	height: 80px;
	width: 80px;
	background-color: firebrick;
	margin: auto;
	margin-top: 20px;
}
.little-circle {
	background-color: royalblue;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.fish-tank {
	color: white;
}
.fishy {
	height: 30px;
	width: 30px;
	margin: 25%;
}
